h1 {
    text-align: center;
}
h4 {
    text-align:center;
}

form {
    margin: 0, auto;
    display: flex;
    justify-content: center;
}
label {
    margin: 10px;
}
input{
    margin: 10px;
}
#correctAn {
    display: block;
    text-align: center;
    width: 250px;
    background-color: darkcyan;
    margin: 10px, auto;
}
#tooLow {
    display: block;
    text-align: center;
    width: 250px;
    background-color: gray;
    margin: 10px, auto;
}
#tooHigh {
    display: block;
    text-align: center;
    width: 250px;
    background-color: red;
    margin: 10px, auto;
}
