<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Guess the Number</title>
</head>
<body>
    <div class="col container align-items-center justify-content-center">
        <h1 class="display-1 ">Welcome to the Great Number Game!!!</h1>
        <h4 class="display-4 mx-auto">Guess a number between 1 and 100</h4>
        <div id="formcon">
            <form class="input-group mb-3" action="http://localhost:5000/guess" method="POST">
            <label class"" for="number">Guess a number!</label>
            <input class="" type="text" name="guess">
            <input class="" type="submit" value="guess">
            </form>
        </div>
        {% if 'guess' in session %}
            {% if session['guess'] == session['number']%}
                <div id="correctAn" class="card flex">
                    <h2>Wow! You must be psychic!</h2>
                    <a href="/reset" class="btn btn-primary">Play again?</a>
                </div>
            {%elif session['guess'] < session['number']%}
                
                    <h2 id='tooLow'>Not quite! Try higher...</h2>
                
            {%elif session['guess'] > session['number']%}
                
                    <h2 id="tooHigh">Woah! Too high! Calm down!</h2>
                
            {% endif %}
        {%endif%}
    </div>
</body>
</html>